.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0vh;
}

.load-wrapp {
    float: left;
    position: fixed;
    width: 500px;
    height: 10vh;
    margin: 0 10px 10px 0;
    padding: 0px 0px 0px;
    border-radius: 5px;
    text-align: center;
}

h5 {
    padding: 300px 0 20px;
    position: fixed;
    font-size: 1.7em;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.spinner {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2,
.bubble-3 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: background-color 3s ease-in-out;
    border: 1px white solid;
    opacity: 0;
}

.bubble-2 {
    top: 30px;
    left: 70px;
}

.bubble-3 {
    top: auto;
    bottom: 0;
}

.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9 .bubble-1,
.load-9 .bubble-2,
.load-9 .bubble-3 {
    animation:fadeIn 3s forwards ease-in-out, bounce 3s ease-in-out infinite;
}

.load-9 .bubble-2 {
    animation-delay: 1s;
}

.load-9 .bubble-3 {
    animation-delay: 2s;
}

.l-9 {
    animation-delay: 1.44s;
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}