.world {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 400px;
}

#colorWheel {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(30deg);
}

.cw-shadow {
    position: fixed;
    width: 320px;
    top: -25px;
    left: 5px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(white, rgba(255, 255, 255, 0.438));
    z-index: -1;
    transform: rotateY(30deg);

}#colorWheel .sector {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: -5%;
    width: 150px;
    height: 150px;
    clip-path: ellipse(100% 100% at 0% 100%);
    transform-origin: 0% 100%;
    transition: transform 1s ease-in-out;
}

#colorWheel .sector-1 { transform: rotate(calc(0 * 90deg)); }
#colorWheel .sector-2 { transform: rotate(calc(1 * 90deg)); }
#colorWheel .sector-3 { transform: rotate(calc(2 * 90deg)); }
#colorWheel .sector-4 { transform: rotate(calc(3 * 90deg)); }

#colorWheel:hover .sector-1:hover { transform: translate(10px, -10px) scale(1.1) !important;}
#colorWheel:hover .sector-2:hover { transform: rotate(calc(1 * 90deg)) translate(10px, -10px) scale(1.1) !important;}
#colorWheel:hover .sector-3:hover { transform: rotate(calc(2 * 90deg)) translate(10px, -10px) scale(1.1) !important;}
#colorWheel:hover .sector-4:hover { transform: rotate(calc(3 * 90deg)) translate(10px, -10px) scale(1.1) !important;}